<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
<meta charset="UTF-8">
<title>TIENDA LANDIA</title>
<link rel="stylesheet" th:href=@{/css/index.css}>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<nav th:replace="andres :: andres"></nav>
	<div class="container">
		<center>
			<h1 class="text-primary">CONSULTAS Y SUGERENCIAS</h1>
		</center>
		<br> 1. ¿Deseas informa problemas de nuestros productos y
		servicios?<br> Contamos con un Call Center (513-3355) a tu
		disposición, preparado para aclarar todas tus dudas y entregar un
		servicio personalizado.<br> 2. ¿Qué necesito para ver el Sitio
		Web?<br> Sólo es necesario tener cualquiera de los navegadores
		disponibles en mercado, como Explorer 7, Mozilla Firefox, Safari o
		Google Chrome. Tottus.com funciona con una excelente resolución, que
		te permitirá encontrar tus productos de manera rápida y Cómoda,
		teniendo la mejor experiencia de compra.<br> 3. Mi producto vino
		vencido y necesito un cambio.<br> Para hacer el cambio el
		producto no debe estar con la tapa abierta. De no ser asi no se podra
		realizarte el rembolso o cambio.<br> 4. ¿Cómo saber el estado de
		mi pedido?<br> Puedes preguntarle a nuestro asistente virtual, en
		nuestra web. Debes seleccionar la opción Ir al Menú y luego hacer
		click en Estado de Compra.<br> 5. ¿Tienes algún inconveniente con
		el delivery?<br> Por favor de enviar un mensaje mediante la
		atencion al cliente o puedes informarle a nuestra asistente virtual<br>
		6. ¿Cómo saber el estado de mi pedido?<br> Puedes preguntarle a
		nuestra asistente virtual. Debes seleccionar la opción Ir al Menú y
		luego hacer click en Estado de Compra.<br> 7. ¿Qué pasa si no me
		llega la confirmación de compra?<br> Para ver tus compras, puedes
		ingresar a Mi Cuenta y dar click a Mis Órdenes.<br> 8. Otra duda?
		Por favor escribenos<br> Al centro del cliente.<br>
	</div>
	<br>
	<br>
	<br>


	<footer th:replace="andres:: nestor"></footer>
</body>
</html>