<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet" th:href=@{/css/index.css}>


</head>
<body>
	<!-- Insertando el Nav -->

	<nav th:replace="andres :: andres"></nav>
	<div class="container py-4">
		<div class="card bg-light">
				<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<img class="img-thumbnail rounded float-left"
					style="max-width: 25%;" th:src="@{'/uploads/'+${empleado.foto}}"
					th:alt="${empleado.foto}">
				<ul class="list-group">
					<li class="list-group-item" th:text="${empleado.nombre}"></li>
					<li class="list-group-item" th:text="${empleado.apellido}"></li>
					<li class="list-group-item" th:text="${empleado.email}"></li>
					<li class="list-group-item" th:text="${empleado.createAt}"></li>
				</ul>
			</div>
		</div>
		
	</div>
		<br>
	<br>
	<br>
	
	<footer th:replace="andres:: nestor"></footer>
	
	
	
	
	
	
</body>
</html>